# IDE
/.idea/*
!.idea/icon.png
.project/
nbproject/
.buildpath/
.settings/
*.sublime-*

# OS
.DS_Store
*.AppleDouble
*.AppleDB
*.AppleDesktop

# tooling
vendor/

# var
var/*

!var/xdebug-profile
var/xdebug-profile/*
!var/xdebug-profile/.keep

!var/cache
var/cache/*
!var/cache/.keep

# project
src/**/_tmp
examples/**/_tmp
tests/**/_tmp

# environment
.env
