# IDE
/.idea/*
!.idea/icon.png
.project/
nbproject/
.buildpath/
.settings/
*.sublime-*

# OS
.DS_Store
*.AppleDouble
*.AppleDB
*.AppleDesktop

# tooling
vendor/

# var
var/*

!var/config
var/config/*
!var/config/*.txt

!var/xdebug-profile
var/xdebug-profile/*
!var/xdebug-profile/.gitkeep

!var/cache
var/cache/*
!var/cache/.gitkeep

# project
src/**/_tmp
src/**/transfer.lock
examples/**/_tmp
examples/**/transfer.lock
tests/**/_tmp
tests/**/transfer.lock

# environment
.env
