# IDE
.idea/
.project/
nbproject/
.buildpath/
.settings/
*.sublime-*

# OS
.DS_Store
*.AppleDouble
*.AppleDB
*.AppleDesktop

# tooling
vendor/

# log
log/*

!log/xdebug-profile
log/xdebug-profile/*
!log/xdebug-profile/.keep

!log/cache
log/cache/*
!log/cache/.keep

# project
src/**/_tmp
doc/samples/**/_tmp
tests/**/_tmp

# environment
.env
