services:
  php:
    container_name: transfer-object-php
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      XDEBUG_MODE: ${XDEBUG_MODE:-off}
      PICAMATOR_TRANSFER_OBJECT_PROJECT_ROOT: /home/transfer/transfer-object
    build:
      context: docker/php
      args:
        USER_ID: ${USER_ID:-1000}
        GROUP_ID: ${GROUP_ID:-1000}
    expose:
      - 9003
    volumes:
      - ./:/home/transfer/transfer-object
      - ./var/xdebug-profile:/tmp/xdebug-profile
    tty: true
