parameters:
  level: 10
  paths:
    - src
    - tests
    - examples
    - bin
  excludePaths:
    - src/Generated
    - tests/*/data/*
    - tests/*/Generated/*
    - examples/Generated/*
  ignoreErrors:
    -
        identifier: argument.type
        path: src/TransferGenerator/Generator/Render/Template/Template.php
    -
        identifier: encapsedStringPart.nonString
        path: src/TransferGenerator/Generator/Render/Template/Template.php
    -
        identifier: return.type
        path: src/*/*Factory.php
rules:
   - PHPStan\Rules\DisallowedConstructs\DisallowedBacktickRule
   - PHPStan\Rules\StrictCalls\StrictFunctionCallsRule
