<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="./vendor/autoload.php"
         colors="true"
         stderr="true"
         requireSealedMockObjects="true"
         beStrictAboutTestsThatDoNotTestAnything="false"
         displayDetailsOnPhpunitDeprecations="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         cacheDirectory="./var/cache">

    <extensions>
        <bootstrap class="Picamator\Tests\Extension\TransferObject\ExecutionTimeReport\ExecutionTimeReportExtension">
            <parameter name="total" value="10"/>
        </bootstrap>
    </extensions>

    <testsuites>
        <testsuite name="UnitTests">
            <directory>tests/unit</directory>
        </testsuite>

        <testsuite name="IntegrationTests">
            <directory>tests/integration</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src</directory>
            <directory>examples</directory>
        </include>
    </source>

</phpunit>
