# $schema: ./../../schema/definition.schema.json
Config:
  content:
    type: ConfigContent
    required:
  validator:
    type: Validator
    required:

ConfigContent:
  transferNamespace:
    type: string
    required:
  transferPath:
    type: string
    required:
  definitionPath:
    type: string
    required:
  relativeDefinitionPath:
    type: string
    required:
  hashFileName:
    type: string
    required:
    protected:
  uuid:
    type: string
    required:
    protected:

Definition:
  fileName:
    type: string
    required:
  content:
    type: DefinitionContent
    required:
  validator:
    type: Validator
    required:

DefinitionContent:
  className:
    type: string
    required:
  properties:
    collectionType: DefinitionProperty

DefinitionProperty:
  propertyName:
    type: string
    required:
  builtInType:
    type: DefinitionBuiltInType
  transferType:
    type: DefinitionEmbeddedType
  collectionType:
    type: DefinitionEmbeddedType
  enumType:
    type: DefinitionEmbeddedType
  dateTimeType:
    type: DefinitionEmbeddedType
  numberType:
    type: DefinitionEmbeddedType
  isRequired:
    type: bool
    required:
  isProtected:
    type: bool
    required:
  attributes:
    collectionType: DefinitionAttribute

DefinitionAttribute:
  arguments:
    type: string
  namespace:
    type: DefinitionNamespace
    required:

DefinitionBuiltInType:
  name:
    enumType: "Picamator\\TransferObject\\TransferGenerator\\Definition\\Enum\\BuiltInTypeEnum"
    required:
  docBlock:
    type: string

DefinitionEmbeddedType:
  name:
    type: string
    required:
  namespace:
    type: DefinitionNamespace

DefinitionNamespace:
  fullName:
    type: string
    required:
  withoutAlias:
    type: string
    required:
  baseName:
    type: string
    required:
  alias:
    type: string

TransferGenerator:
  fileName:
    type: string
  className:
    type: string
  validator:
    type: Validator
    required:

TransferGeneratorContent:
  className:
    type: string
    required:
    protected:
  content:
    type: string
    required:
    protected:
  hash:
    type: string
    required:
    protected:

TransferHash:
  hashes:
    type: ArrayObject<string,string>
    protected:
  configUuid:
    type: string
    required:
    protected:
  actualHashes:
    type: ArrayObject<string,string>
  toCopyClassNames:
    type: ArrayObject<int,string>

TransferGeneratorBulk:
  progress:
    type: FileReaderProgress
    required:
  validator:
    type: Validator
    required:
